* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    text-align: center;
}

.divider {
    max-width: 30%;
    margin-bottom: 5rem;
}

.scoreboard {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
    row-gap: 10px;
    column-gap: 10px;
}


/* button settings */
.score-container {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    border: 3px solid #ccc;
}

.correct {
    background-color: #147614;
    color: white;
}

.close {
    background-color: #dfbe3a;
}

.incorrect {
    background-color: rgb(106, 106, 106);
    color: white;
}

.invalid {
    animation: flash 1s;
}

.info-bar {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.show {
    visibility: visible;
}

.loading {
    animation: spin 1.5s linear infinite;
}

.winner {
    animation: rainbow 4s infinite linear;
}

.restart {
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 30px;
}

.restart:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.restart:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.restart:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

@keyframes flash {
    5% {
        border-color: #e33b3b;
    }

    100% {
        border-color: #ccc;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rainbow {
    100%,
    0% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }
  
